.session-details {
	list-style: none;
	padding: 0;
	margin-top:15px;
}
.session-details .sessionInfo {
	border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px;
	margin-bottom: 15px;
}
.session-details .sessionInfo h4 {
	margin: 0 0 8px 0;
    cursor: pointer;
}
.session-details .sessionInfo p {
	margin: 0;
}
.session-details .votingCount {
	border: 1px solid #eee;
    border-radius: 3px;
    float: left;
    margin: 0 20px;
    padding: 3px 10px;
}
.session-details .votingCount .votingBtn.clr-gray {
	color: gray;
}
.session-details .votingCount .votingValue {
	padding-left:2px;
}
.blue {
	color: blue;
}
.add-inline-fields {
	display: inline-block;
	width: 46%;
}
.add-inline-fields.sur-mar {
	margin: 10px 22px 10px 0;
}
input.ng-dirty.ng-invalid {
	background-color: pink;
}
ul.eventlist {
    list-style: none;
    padding: 0;
}
ul.eventlist li {
    padding: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}
ul.eventlist li a {
    display: block;
    padding: 15px;
    border: 1px solid;
    border-radius: 4px;
    background-color: gray;
    color: white;
    text-decoration: none;
}
ul.eventlist li a:hover {
    background-color: #505050;
    cursor: pointer;
}
ul.eventlist li h3 {
    margin-top: 0;
}